Sample	Diagnosis	Strandedness	LibraryType	ReadLength
BALL1	Diagnosis1	Stranded	TotalRNA	75
BALL2	Diagnosis1	Stranded	TotalRNA	75
BALL3	Diagnosis2	Unstranded	mRNA	75
BALL4	Diagnosis3	Unstranded	mRNA	75